<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the conventions_init() hook (in hooks/conventions.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="conventions-nom-<%%VALUE(id)%%>" class="conventions-nom"><%%SELECT%%><%%VALUE(nom)%%><%%ENDSELECT%%></td>
		<td id="conventions-statut-<%%VALUE(id)%%>" class="conventions-statut"><%%SELECT%%><%%VALUE(statut)%%><%%ENDSELECT%%></td>
		<td id="conventions-bailleur-<%%VALUE(id)%%>" class="conventions-bailleur"><%%SELECT%%><%%VALUE(bailleur)%%><%%ENDSELECT%%></td>
		<td id="conventions-porteur-<%%VALUE(id)%%>" class="conventions-porteur"><%%SELECT%%><%%VALUE(porteur)%%><%%ENDSELECT%%></td>
		<td id="conventions-date_reponse-<%%VALUE(id)%%>" class="conventions-date_reponse"><%%SELECT%%><%%VALUE(date_reponse)%%><%%ENDSELECT%%></td>
		<td id="conventions-demande-<%%VALUE(id)%%>" class="conventions-demande text-right"><%%VALUE(demande)%%></td>
		<td id="conventions-date_debut-<%%VALUE(id)%%>" class="conventions-date_debut"><%%SELECT%%><%%VALUE(date_debut)%%><%%ENDSELECT%%></td>
		<td id="conventions-date_fin-<%%VALUE(id)%%>" class="conventions-date_fin"><%%SELECT%%><%%VALUE(date_fin)%%><%%ENDSELECT%%></td>
		<td id="conventions-duree-<%%VALUE(id)%%>" class="conventions-duree text-right"><%%SELECT%%><%%VALUE(duree)%%><%%ENDSELECT%%></td>
		<td id="conventions-accorde_hfg-<%%VALUE(id)%%>" class="conventions-accorde_hfg text-right"><%%VALUE(accorde_hfg)%%></td>
		<td id="conventions-frais_gestion-<%%VALUE(id)%%>" class="conventions-frais_gestion text-right"><%%VALUE(frais_gestion)%%></td>
		<td id="conventions-accorde-<%%VALUE(id)%%>" class="conventions-accorde text-right"><%%VALUE(accorde)%%></td>
		<td id="conventions-verse-<%%VALUE(id)%%>" class="conventions-verse text-right"><%%VALUE(verse)%%></td>
		<td id="conventions-reste_verser-<%%VALUE(id)%%>" class="conventions-reste_verser text-right"><%%VALUE(reste_verser)%%></td>
		<td id="conventions-verse_hfg-<%%VALUE(id)%%>" class="conventions-verse_hfg text-right"><%%VALUE(verse_hfg)%%></td>
		<td id="conventions-ouvert-<%%VALUE(id)%%>" class="conventions-ouvert text-right"><%%VALUE(ouvert)%%></td>
		<td id="conventions-reste_ouvrir-<%%VALUE(id)%%>" class="conventions-reste_ouvrir text-right"><%%VALUE(reste_ouvrir)%%></td>
		<td id="conventions-reserve-<%%VALUE(id)%%>" class="conventions-reserve text-right"><%%VALUE(reserve)%%></td>
		<td id="conventions-liquide-<%%VALUE(id)%%>" class="conventions-liquide text-right"><%%SELECT%%><%%VALUE(liquide)%%><%%ENDSELECT%%></td>
		<td id="conventions-utilise-<%%VALUE(id)%%>" class="conventions-utilise text-right"><%%VALUE(utilise)%%></td>
		<td id="conventions-disponible-<%%VALUE(id)%%>" class="conventions-disponible text-right"><%%VALUE(disponible)%%></td>
		<td id="conventions-reste_engager-<%%VALUE(id)%%>" class="conventions-reste_engager text-right"><%%VALUE(reste_engager)%%></td>
		<td id="conventions-reservation_salaire-<%%VALUE(id)%%>" class="conventions-reservation_salaire text-right"><%%VALUE(reservation_salaire)%%></td>
		<td id="conventions-reste_depenser-<%%VALUE(id)%%>" class="conventions-reste_depenser text-right"><%%VALUE(reste_depenser)%%></td>
		<td id="conventions-prop_uo-<%%VALUE(id)%%>" class="conventions-prop_uo text-right"><%%VALUE(prop_uo)%%></td>
		<td id="conventions-prop_uv-<%%VALUE(id)%%>" class="conventions-prop_uv text-right"><%%VALUE(prop_uv)%%></td>
		<td id="conventions-prop_ua-<%%VALUE(id)%%>" class="conventions-prop_ua text-right"><%%VALUE(prop_ua)%%></td>
		<td id="conventions-budget_nv-<%%VALUE(id)%%>" class="conventions-budget_nv text-right"><%%VALUE(budget_nv)%%></td>
		<td id="conventions-depenses_nv-<%%VALUE(id)%%>" class="conventions-depenses_nv text-right"><%%VALUE(depenses_nv)%%></td>
