<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Nom -->
		<div class="form-group conventions-nom" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nom</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(nom)%%></div>
			</div>
		</div>
		<!-- Field: Statut -->
		<div class="form-group conventions-statut" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Statut</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(statut)%%></div>
			</div>
		</div>
		<!-- Field: Bailleur(s) -->
		<div class="form-group conventions-bailleur" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Bailleur(s)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(bailleur)%%></div>
			</div>
		</div>
		<!-- Field: Porteur -->
		<div class="form-group conventions-porteur" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Porteur</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="porteur<%%RND1%%>"><%%COMBOTEXT(porteur)%%></span></div>
			</div>
		</div>
		<!-- Field: Chef de Projet -->
		<div class="form-group conventions-chef_projet" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Chef de Projet</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="chef_projet<%%RND1%%>"><%%COMBOTEXT(chef_projet)%%></span></div>
			</div>
		</div>
		<!-- Field: Date r&#233;ponse -->
		<div class="form-group conventions-date_reponse" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date r&#233;ponse</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_reponse)%%></div>
			</div>
		</div>
		<!-- Field: Demand&#233; -->
		<div class="form-group conventions-demande" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Demand&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(demande)%%></div>
			</div>
		</div>
		<!-- Field: D&#233;but -->
		<div class="form-group conventions-date_debut" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">D&#233;but</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_debut)%%></div>
			</div>
		</div>
		<!-- Field: Fin -->
		<div class="form-group conventions-date_fin" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fin</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_fin)%%></div>
			</div>
		</div>
		<!-- Field: Dur&#233;e (mois) -->
		<div class="form-group conventions-duree" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dur&#233;e (mois)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(duree)%%></div>
			</div>
		</div>
		<!-- Field: Notes -->
		<div class="form-group conventions-notes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notes)%%></div>
			</div>
		</div>
		<!-- Field: Accord&#233; hors FG -->
		<div class="form-group conventions-accorde_hfg" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Accord&#233; hors FG</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(accorde_hfg)%%></div>
			</div>
		</div>
		<!-- Field: Frais de Gestion -->
		<div class="form-group conventions-frais_gestion" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Frais de Gestion</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(frais_gestion)%%></div>
			</div>
		</div>
		<!-- Field: Total Accord&#233; -->
		<div class="form-group conventions-accorde" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Total Accord&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(accorde)%%></div>
			</div>
		</div>
		<!-- Field: Vers&#233; -->
		<div class="form-group conventions-verse" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vers&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(verse)%%></div>
			</div>
		</div>
		<!-- Field: Reste &#224; Verser -->
		<div class="form-group conventions-reste_verser" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reste &#224; Verser</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reste_verser)%%></div>
			</div>
		</div>
		<!-- Field: Vers&#233; hors FG -->
		<div class="form-group conventions-verse_hfg" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Vers&#233; hors FG</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(verse_hfg)%%></div>
			</div>
		</div>
		<!-- Field: Ouvert -->
		<div class="form-group conventions-ouvert" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ouvert</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(ouvert)%%></div>
			</div>
		</div>
		<!-- Field: Reste &#224; Ouvrir -->
		<div class="form-group conventions-reste_ouvrir" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reste &#224; Ouvrir</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reste_ouvrir)%%></div>
			</div>
		</div>
		<!-- Field: Non Liquid&#233; -->
		<div class="form-group conventions-non_liquide" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Non Liquid&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(non_liquide)%%></div>
			</div>
		</div>
		<!-- Field: Liquid&#233; -->
		<div class="form-group conventions-liquide" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Liquid&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(liquide)%%></div>
			</div>
		</div>
		<!-- Field: Utilis&#233; (L+NL) -->
		<div class="form-group conventions-utilise" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Utilis&#233; (L+NL)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(utilise)%%></div>
			</div>
		</div>
		<!-- Field: Disponible (O-U) -->
		<div class="form-group conventions-disponible" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Disponible (O-U)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(disponible)%%></div>
			</div>
		</div>
		<!-- Field: Reste &#224; Engager -->
		<div class="form-group conventions-reste_engager" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reste &#224; Engager</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reste_engager)%%></div>
			</div>
		</div>
		<!-- Field: Salaires restant &#224; verser -->
		<div class="form-group conventions-reservation_salaire" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Salaires restant &#224; verser</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reservation_salaire)%%></div>
			</div>
		</div>
		<!-- Field: Reste &#224; D&#233;penser -->
		<div class="form-group conventions-reste_depenser" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Reste &#224; D&#233;penser</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(reste_depenser)%%></div>
			</div>
		</div>
		<!-- Field: U/O (%) -->
		<div class="form-group conventions-prop_uo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">U/O (%)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(prop_uo)%%></div>
			</div>
		</div>
		<!-- Field: U/V (%) -->
		<div class="form-group conventions-prop_uv" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">U/V (%)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(prop_uv)%%></div>
			</div>
		</div>
		<!-- Field: U/A (%, hors FG) -->
		<div class="form-group conventions-prop_ua" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">U/A (%, hors FG)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(prop_ua)%%></div>
			</div>
		</div>
		<!-- Field: Budget non ventil&#233; -->
		<div class="form-group conventions-budget_nv" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Budget non ventil&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(budget_nv)%%></div>
			</div>
		</div>
		<!-- Field: D&#233;penses non ventil&#233;es -->
		<div class="form-group conventions-depenses_nv" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">D&#233;penses non ventil&#233;es</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(depenses_nv)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
<!-- child records -->
<div class="panel-body">
	<div id="conventions-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=conventions-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'conventions',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'conventions-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

