<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the credits_init() hook (in hooks/credits.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="credits-convention-<%%VALUE(id)%%>" class="credits-convention"><%%SELECT%%><%%VALUE(convention)%%><%%ENDSELECT%%></td>
		<td id="credits-ligne_budgetaire-<%%VALUE(id)%%>" class="credits-ligne_budgetaire"><%%SELECT%%><%%VALUE(ligne_budgetaire)%%><%%ENDSELECT%%></td>
		<td id="credits-ligne_credit-<%%VALUE(id)%%>" class="credits-ligne_credit"><%%SELECT%%><%%VALUE(ligne_credit)%%><%%ENDSELECT%%></td>
		<td id="credits-date-<%%VALUE(id)%%>" class="credits-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
		<td id="credits-intitule-<%%VALUE(id)%%>" class="credits-intitule"><%%SELECT%%><%%VALUE(intitule)%%><%%ENDSELECT%%></td>
		<td id="credits-montant-<%%VALUE(id)%%>" class="credits-montant text-right"><%%SELECT%%><%%VALUE(montant)%%><%%ENDSELECT%%></td>
		<td id="credits-notes-<%%VALUE(id)%%>" class="credits-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
