<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the depenses_init() hook (in hooks/depenses.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="depenses-convention-<%%VALUE(id)%%>" class="depenses-convention"><%%VALUE(convention)%%></td>
		<td id="depenses-ligne_budgetaire-<%%VALUE(id)%%>" class="depenses-ligne_budgetaire"><%%VALUE(ligne_budgetaire)%%></td>
		<td id="depenses-ligne_credit-<%%VALUE(id)%%>" class="depenses-ligne_credit"><%%VALUE(ligne_credit)%%></td>
		<td id="depenses-date-<%%VALUE(id)%%>" class="depenses-date"><%%VALUE(date)%%></td>
		<td id="depenses-intitule-<%%VALUE(id)%%>" class="depenses-intitule"><%%VALUE(intitule)%%></td>
		<td id="depenses-beneficiaire-<%%VALUE(id)%%>" class="depenses-beneficiaire"><%%VALUE(beneficiaire)%%></td>
		<td id="depenses-montant-<%%VALUE(id)%%>" class="depenses-montant text-right"><%%VALUE(montant)%%></td>
		<td id="depenses-statut-<%%VALUE(id)%%>" class="depenses-statut"><%%VALUE(statut)%%></td>
		<td id="depenses-ventilation-<%%VALUE(id)%%>" class="depenses-ventilation"><%%VALUE(ventilation)%%></td>
		<td id="depenses-notes-<%%VALUE(id)%%>" class="depenses-notes"><%%VALUE(notes)%%></td>
