<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the fichiers_init() hook (in hooks/fichiers.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="fichiers-convention-<%%VALUE(id)%%>" class="fichiers-convention"><%%VALUE(convention)%%></td>
		<td id="fichiers-titre-<%%VALUE(id)%%>" class="fichiers-titre"><%%VALUE(titre)%%></td>
		<td id="fichiers-fichier-<%%VALUE(id)%%>" class="fichiers-fichier"><a href="link.php?t=fichiers&f=fichier&i=<%%VALUE(id)%%>" target="_blank"><%%VALUE(fichier)%%></a></td>
		<td id="fichiers-notes-<%%VALUE(id)%%>" class="fichiers-notes"><%%VALUE(notes)%%></td>
		<script>$j(function() {
			var e_fichier = '<%%VALUE(fichier)%%>'; if(e_fichier == '' || e_fichier == '&nbsp;') $j(/*<*/ '#fichiers-fichier-<%%VALUE(id)%%>' /*>*/).html('');
		});</script>
