<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the recrutements_init() hook (in hooks/recrutements.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="recrutements-convention-<%%VALUE(id)%%>" class="recrutements-convention"><%%VALUE(convention)%%></td>
		<td id="recrutements-intitule-<%%VALUE(id)%%>" class="recrutements-intitule"><%%VALUE(intitule)%%></td>
		<td id="recrutements-beneficiaire-<%%VALUE(id)%%>" class="recrutements-beneficiaire"><%%VALUE(beneficiaire)%%></td>
		<td id="recrutements-date_debut-<%%VALUE(id)%%>" class="recrutements-date_debut"><%%VALUE(date_debut)%%></td>
		<td id="recrutements-date_fin-<%%VALUE(id)%%>" class="recrutements-date_fin"><%%VALUE(date_fin)%%></td>
		<td id="recrutements-duree-<%%VALUE(id)%%>" class="recrutements-duree text-right"><%%VALUE(duree)%%></td>
		<td id="recrutements-ventilation-<%%VALUE(id)%%>" class="recrutements-ventilation"><%%VALUE(ventilation)%%></td>
		<td id="recrutements-notes-<%%VALUE(id)%%>" class="recrutements-notes"><%%VALUE(notes)%%></td>
		<td id="recrutements-previsionnel-<%%VALUE(id)%%>" class="recrutements-previsionnel text-right"><%%VALUE(previsionnel)%%></td>
		<td id="recrutements-depense-<%%VALUE(id)%%>" class="recrutements-depense text-right"><%%VALUE(depense)%%></td>
		<td id="recrutements-reservation_salaire-<%%VALUE(id)%%>" class="recrutements-reservation_salaire text-right"><%%VALUE(reservation_salaire)%%></td>
		<td id="recrutements-prop_dp-<%%VALUE(id)%%>" class="recrutements-prop_dp text-right"><%%VALUE(prop_dp)%%></td>
