<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the ventilation_init() hook (in hooks/ventilation.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="ventilation-convention-<%%VALUE(id)%%>" class="ventilation-convention"><%%SELECT%%><%%VALUE(convention)%%><%%ENDSELECT%%></td>
		<td id="ventilation-rubrique-<%%VALUE(id)%%>" class="ventilation-rubrique"><%%SELECT%%><%%VALUE(rubrique)%%><%%ENDSELECT%%></td>
		<td id="ventilation-intitule-<%%VALUE(id)%%>" class="ventilation-intitule"><%%SELECT%%><%%VALUE(intitule)%%><%%ENDSELECT%%></td>
		<td id="ventilation-notes-<%%VALUE(id)%%>" class="ventilation-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="ventilation-accorde-<%%VALUE(id)%%>" class="ventilation-accorde text-right"><%%SELECT%%><%%VALUE(accorde)%%><%%ENDSELECT%%></td>
		<td id="ventilation-reserve-<%%VALUE(id)%%>" class="ventilation-reserve text-right"><%%VALUE(reserve)%%></td>
		<td id="ventilation-liquide-<%%VALUE(id)%%>" class="ventilation-liquide text-right"><%%VALUE(liquide)%%></td>
		<td id="ventilation-utilise-<%%VALUE(id)%%>" class="ventilation-utilise text-right"><%%VALUE(utilise)%%></td>
		<td id="ventilation-reste_engager-<%%VALUE(id)%%>" class="ventilation-reste_engager text-right"><%%VALUE(reste_engager)%%></td>
		<td id="ventilation-reservation_salaire-<%%VALUE(id)%%>" class="ventilation-reservation_salaire text-right"><%%VALUE(reservation_salaire)%%></td>
		<td id="ventilation-reste_depenser-<%%VALUE(id)%%>" class="ventilation-reste_depenser text-right"><%%VALUE(reste_depenser)%%></td>
		<td id="ventilation-prop_ua-<%%VALUE(id)%%>" class="ventilation-prop_ua text-right"><%%VALUE(prop_ua)%%></td>
