<!-- To change the layout of the detail view form, we recommend using JS code in hooks/ventilation-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="ventilation_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>

<div class="panel-body hidden" id="ventilation_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<input type="hidden" id="recrutements_hclink" value="recrutements_view.php?filterer_ventilation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="depenses_hclink" value="depenses_view.php?filterer_ventilation=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="ventilation_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Convention -->
				<div class="form-group ventilation-convention">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="convention" data-parent_link="view_parent_same_window">Convention<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(convention)%%><%%PLINK(convention)%%><%%ADDNEW(conventions)%%></div>
					</div>
				</div>

				<!-- Field: Rubrique de Ventilation -->
				<div class="form-group ventilation-rubrique">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="rubrique" data-parent_link="view_parent_modal">Rubrique de Ventilation <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#rubrique-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="rubrique-description"><div class="alert alert-info bspacer-xs">(optionnel)</div></span>
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(rubrique)%%><%%PLINK(rubrique)%%><%%ADDNEW(rubriques)%%></div>
					</div>
				</div>

				<!-- Field: Intitul&#233; -->
				<div class="form-group ventilation-intitule">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="intitule">Intitul&#233;<span class="text-danger"><%%TRANSLATION(*)%%></span></label>
					<div class="col-lg-9">
						<input maxlength="100" type="text" class="form-control" name="intitule" id="intitule" value="<%%VALUE(intitule)%%>" required>
					</div>
				</div>

				<!-- Field: Notes -->
				<div class="form-group ventilation-notes">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="notes">Notes</label>
					<div class="col-lg-9 has-nicedit">
						<%%HTMLAREA(notes)%%>
					</div>
				</div>

				<!-- Field: Pr&#233;visionnel -->
				<div class="form-group ventilation-accorde">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="accorde">Pr&#233;visionnel <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#accorde-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="accorde-description"><div class="alert alert-info bspacer-xs">Optionnel : vous pouvez sp&#233;cifier le montant pr&#233;visionnel associ&#233; &#224; cette ventilation</div></span>
						<input maxlength="13" type="text" class="form-control" name="accorde" id="accorde" value="<%%VALUE(accorde)%%>">
					</div>
				</div>

				<!-- Field: Non Liquid&#233; -->
				<div class="form-group ventilation-non_liquide">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="non_liquide">Non Liquid&#233;</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="non_liquide" id="non_liquide" value="<%%VALUE(non_liquide)%%>">
					</div>
				</div>

				<!-- Field: Liquid&#233; -->
				<div class="form-group ventilation-liquide">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="liquide">Liquid&#233;</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="liquide" id="liquide" value="<%%VALUE(liquide)%%>">
					</div>
				</div>

				<!-- Field: Utilis&#233; -->
				<div class="form-group ventilation-utilise">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="utilise">Utilis&#233;</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="utilise" id="utilise" value="<%%VALUE(utilise)%%>">
					</div>
				</div>

				<!-- Field: Reste &#224; Engager -->
				<div class="form-group ventilation-reste_engager">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="reste_engager">Reste &#224; Engager</label>
					<div class="col-lg-9">
						<input maxlength="13" type="text" class="form-control" name="reste_engager" id="reste_engager" value="<%%VALUE(reste_engager)%%>">
					</div>
				</div>

				<!-- Field: Salaires restant &#224; verser -->
				<div class="form-group ventilation-reservation_salaire">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="reservation_salaire">Salaires restant &#224; verser <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#reservation_salaire-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="reservation_salaire-description"><div class="alert alert-info bspacer-xs">Salaires non encore vers&#233;s, d'apr&#232;s la liste des recrutements pr&#233;vus</div></span>
						<input maxlength="13" type="text" class="form-control" name="reservation_salaire" id="reservation_salaire" value="<%%VALUE(reservation_salaire)%%>">
					</div>
				</div>

				<!-- Field: Reste &#224; D&#233;penser -->
				<div class="form-group ventilation-reste_depenser">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="reste_depenser">Reste &#224; D&#233;penser <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#reste_depenser-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="reste_depenser-description"><div class="alert alert-info bspacer-xs">Reste &#224; Engager - Salaires restant &#224; verser</div></span>
						<input maxlength="13" type="text" class="form-control" name="reste_depenser" id="reste_depenser" value="<%%VALUE(reste_depenser)%%>">
					</div>
				</div>

				<!-- Field: U/P (%) -->
				<div class="form-group ventilation-prop_ua">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="prop_ua">U/P (%) <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#prop_ua-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="prop_ua-description"><div class="alert alert-info bspacer-xs">Utilis&#233; sur Pr&#233;visionnel</div></span>
						<input maxlength="12" type="text" class="form-control" name="prop_ua" id="prop_ua" value="<%%VALUE(prop_ua)%%>">
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="ventilation_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="ventilation-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			AppGini.once({
				condition: function() { return bkLib != undefined; },
				action: function() {
					if($j('textarea#notes').length) new nicEditor({ fullPanel : true }).panelInstance('notes');
				}
			});

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();

			if(!$j('.table_view').length || $j('[name=SelectedID]').val().length) {
				AppGini.once({
					condition: function() {
						return $j('.form-group.ventilation-convention')
									.find('.nicEdit-main, .select2-container, input[type=radio]')
									.length > 0;
					},
					action: function() {
						$j('#ventilation_dv_container-loading').addClass('hidden');
						$j('#ventilation_dv_container').removeClass('hidden');
						AppGini.focusFormElement('ventilation', 'convention');
					},
					timeout:  5000,
					doActionOnTimeout:  true
				});
			} else {
				$j('#ventilation_dv_container-loading').addClass('hidden');
				$j('#ventilation_dv_container').removeClass('hidden');
			}

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			// try to detect rich text changes by adding 'input' handler after nicedit is loaded ...
			AppGini.detectContentEditableChanges();

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'ventilation',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'ventilation-children'
				);
			}

			if(true /* !embedded_mode */) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.removeItem(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'ventilation',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=ventilation&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=ventilation&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>