<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: Convention -->
		<div class="form-group versements-convention" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Convention</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="convention<%%RND1%%>"><%%COMBOTEXT(convention)%%></span></div>
			</div>
		</div>
		<!-- Field: Ligne Budg&#233;taire -->
		<div class="form-group versements-ligne_budgetaire" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ligne Budg&#233;taire</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="ligne_budgetaire<%%RND1%%>"><%%COMBOTEXT(ligne_budgetaire)%%></span></div>
			</div>
		</div>
		<!-- Field: Date -->
		<div class="form-group versements-date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date)%%></div>
			</div>
		</div>
		<!-- Field: Intitul&#233; -->
		<div class="form-group versements-intitule" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Intitul&#233;</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(intitule)%%></div>
			</div>
		</div>
		<!-- Field: Montant -->
		<div class="form-group versements-montant" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Montant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(montant)%%></div>
			</div>
		</div>
		<!-- Field: Notes -->
		<div class="form-group versements-notes" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Notes</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(notes)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<script>
	$j(function() {
		// render read-only checkboxes in DVP
		$j('form input[type=checkbox]:not(.hidden):checked')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-check"></i>');
		$j('form input[type=checkbox]:not(.hidden):not(:checked)')
			.addClass('hidden')
			.after('<i class="glyphicon glyphicon-unchecked"></i>')
	})
</script>
